@model IEnumerable<CharacterCreator.Web.Models.CharacterModel>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Race)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Strength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intelligence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Constitution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Charisma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profession)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Race)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Strength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intelligence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Constitution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Charisma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
